{
  "instance_id": "`hostname`",
  "services": {
    "redis": {
      "port": 6379,
      "host": "`hostname -I | cut -d' ' -f2`",
      "zk_hosts": ["$ZOOKEEPER"],
      "zk_path": "/nerve/services/redis/services",
      "check_interval": 2,
      "checks": [
        {
          "type": "tcp",
          "timeout": 0.2,
          "rise": 3,
          "fall": 2
        }
      ]
    }
  }
}
