export JAVA_OPTS="${JAVA_OPTS} \
  -Xms512m \
  -Xmx1024m \
  -Dcom.sun.management.jmxremote=true \
  -Dcom.sun.management.jmxremote.port=7500 \
  -Dcom.sun.management.jmxremote.authenticate=false \
  -Dcom.sun.management.jmxremote.ssl=false \
  -Djava.rmi.server.hostname=`ifconfig eth1 | sed -n 's/.*inet addr:\([0-9.]\+\)\s.*/\1/p'` \
  -Deureka.serviceUrl.default=$EUREKA/v2/
"
